<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <h1>Pages Display</h1>
    <div>
            <% pages.forEach(function(page){ %>
                <%- include('../partials/onpage', {page: page}); %>
            <% }); %>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>